Source: init4boot
Maintainer: Andreas Florath <sf@flonatel.org>
Section: python
Priority: standard
Build-Depends: debhelper (>= 5), python (>=2.3.5-7), python-dev (>=2.3.5-7), python-central, python-docutils, binutils, multipath-tools, open-iscsi, busybox-static
Standards-Version: 3.7.3
XB-Python-Version: ${python:Versions}
XS-Python-Version: current

Package: init4boot
Architecture: all
Depends: ${python:Depends}, debhelper (>= 5), python (>=2.3.5-7), python-dev (>=2.3.5-7), python-central, python-docutils, binutils, multipath-tools, open-iscsi, busybox-static
XB-Python-Version: ${python:Versions}
Description: Creates init script and initramfs.
 init4boot is a set of utilities to create an initramfs and 
 corresponding init scripts that are used during boot. 
 It's extensible, supports iSCSI boot and can be used in a 
 Xen environment.

Package: init4boot-doc
Architecture: all
XB-Python-Version: ${python:Versions}
Description: Documentation for init4boot
 init4boot is a set of utilities to create an initramfs and 
 corresponding init scripts that are used during boot. 
 It's extensible, supports iSCSI boot and can be used in a 
 Xen environment.
 
Package: init4boot-client
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Creates init script and initramfs: client boot part
 init4boot is a set of utilities to create an initramfs and 
 corresponding init scripts that are used during boot. 
 It's extensible, supports iSCSI boot and can be used in a 
 Xen environment.
